html {
    font-size: 62.5%;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

#inscription_connexion {
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 10% repeat(12, 5.55%) 10%;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1%;
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-column: 1/span 12;
    grid-row: 2/span 1;
    grid-template-columns: 10% repeat(12, 5.55%) 10%;
    grid-template-rows: repeat(50, auto);
    grid-column-gap: 1%;
    width: 100vw;

}

#header_landing{
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 10% repeat(12, 5.55%) 10%;
    grid-template-rows: repeat(12, 8.21%);
    grid-column-gap: 1%;
    width:100vw;
}

#footer_landing_page{
    grid-column: 1/span 12;
    grid-row: 3/span 1;
    display: grid;
    grid-template-columns: 10% repeat(12, 5.55%) 10%;
    grid-template-rows: repeat(12, auto);
    grid-column-gap: 1%;
    width:100vw;
}

.background {
    grid-column: 1/15;
    grid-row: 1/12;
    width: 100%;
}

.logo {
    grid-column: 6/ span 3;
    grid-row: 2/ span 3;
    width: 100%;
}

.zone_slogan_reseaux {
    display: contents;
    color: #fcfcfc;
}

.zone_slogan_reseaux>h1{
    grid-column: 10/span 5;
    grid-row: 5/span 2;

}

.fond{
    grid-row: 3/span 4;
    grid-column: 6/span 9;
    width: 64.5vw;
}

.reseaux{
    grid-row: 7/ span 1;
    grid-column: 10/ span 4;
    justify-content: space-between;
}

.reseaux img{
    width: 3.6vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.button_inscription {
    grid-column: 10/12;
    grid-row: 2;
    border-radius: 0 25px;
    border: 0.13vw solid #FF8312;
    height: 2.3vw;
    font-size: 1vw;
}

.button_connexion {
    grid-column: 12/14;
    grid-row: 2;
    border-radius: 0 25px;
    border: 0.13vw solid #FF8312;
    height: 2.3vw;
    font-size: 1vw;

}

header>h2{
    grid-column:6/span 3;
    grid-row: 9/span 1;
    text-align: center;
}


#bouton_suivant{
    grid-column: 7/span 1;
    grid-row: 10/span 1;
    padding-left: 1vw;
}

#bouton_suivant img{
    width: 85%;
}

#button_newsletters {
    grid-column: 6/span 3;
    grid-row: 2/span 1;
    border-radius: 0 25px;
    color: #fcfcfc;
    background-color: #FF8312;
    height: 3vw;
    font-size: 1vw;
    border: none;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#bouton_main_2{
    color: #fcfcfc;
    background-color: #FF8312;
    border: none;
    grid-row: 5/span 1;
    grid-column: 7/span 2;
    align-self: center;
    margin-top: 2.5vw;
    margin-bottom: 3vw;
}

#logo_noir{
    grid-column: 1/span 3;
    grid-row: 3/span 2;
    width: 100%;
}

.premier{
    grid-row: 3/span 1;
    grid-column: 5/span 4;
}

#FindFeat_def{
    grid-column: 5/span 7;
    grid-row: 4/span 1;
}

#trait_1{
    grid-column: 4/span 5;
    grid-row: 6/span 2;
    width: 26vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#groupe_h2{
    grid-column: 1/span 7;
    grid-row: 8/span 2;
    text-align: center;
    padding-right: 1vw;
}


#trait_2{
    width: 0.536%;
    margin-top: 2vw;
    margin-bottom: 2vw;

}

#find_feat_fonct{
    grid-column: 2/span 4;
    grid-row: 10/span 1;
}

#image_de_fond_main_1{
    grid-column: 10/span 5;
    grid-row: 7/span 6;
    width: 70vw;
}

#trait_3{
    grid-column: 4/span 2;
    grid-row: 11/span 3;
    width: 100%;
}

.nombre_main{
    margin-top: 0;
    margin-bottom: 2vw;
}

#fonct_2{
    grid-column: 7/span 3;
    grid-row: 12/span 2;
    margin-top: 7vw ;
}

#trait_4{
    grid-column: 8/span 1;
    grid-row: 14/span 1;
    width: 4%;
    padding-left: 2.5vw;
}

#mockup{
    grid-column: 1/span 13;
    grid-row: 15/span 5;
    width: 70vw;
}

#trait_5{
    grid-column: 8/span 3;
    grid-row: 21/span 2;
    width: 73%;
    padding-left: 2.5vw;
}

#fonct_3{
    grid-column: 9/span 3;
    grid-row: 23/span 2;
    margin-top: 2vw;
}

#trait_6{
    grid-column: 7/span 4;
    grid-row: 26/span 4;
    width: 78%;
    padding-left: 2.9vw;
}

#fonct_4{
    grid-column: 6/span 3;
    grid-row: 40/span 2;
    margin-top: 2vw;
    margin-bottom: 2.5vw;
}

#titre_membre{
    grid-column: 4/span 8;
    grid-row: 43/span 1;
    margin-bottom: 5vw;
    padding-bottom: 1vw;
    border-bottom: #222222 0.1vw solid;
    color: #FF8312;
}


#R {
    background-color: #FF8312;
    border: 0.2vw solid #222222;
    border-radius: 0 1vw;
    grid-column: 10/span 4;
    grid-row: 45/span 4;
    height: 19vw;
    text-align: center;
    padding-top: 3vw;
}

#Ni {
    background-color: #FF8312;
    border: 0.2vw solid #222222;
    border-radius: 0 1vw;
    grid-column: 2/span 4;
    grid-row: 45/span 4;
    height: 19vw;
    text-align: center;
    padding-top: 3vw;
}

#Na {
    background-color: #FF8312;
    border: 0.2vw solid #222222;
    border-radius: 0 1vw;
    grid-column: 6/span 4;
    grid-row: 50/span 4;
    height: 19vw;
    text-align: center;
    padding-top: 3vw;
    margin-top: 3vw;
    margin-bottom: 5vw;

}

#R p, #Ni p, #Na p{
    color: #fcfcfc;
    font-size: 1.4vw;
}

.Pdp{
    width: 10vw;
}

#Pdp_nat{
    width: 12vw;
    font-size: 6vw;
    border: 0.2vw solid #222222;
    border-radius: 5vw;
    margin: auto;
    background-color: #E8E8E8;
    padding-bottom: 1vw;

}

#titre_news{
    grid-column: 6/span 4;
    grid-row: 2/ span 1;
    text-align: center;
}

form{
    display: contents;
}

form *{
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
}
.label_newsletter{
    grid-column: 5/span 6;
    grid-row: 3/ span 1;
    font-size: 1.6vw;
}

#email{
    grid-column: 5/span 6;
    grid-row: 4/ span 3;
    height: 4vw;
}

.button_envoyer_newsletter{
    grid-column: 9/span 2;
    grid-row: 8/ span 1;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    height: 3vw;
    color: #222222;
    background-color: #fcfcfc;
    font-size: 1vw;
}

.mentions_legales{
    grid-column: 3/span 5;
    grid-row: 9/span 3;
}

#hr{
    grid-column: 3/ span 10;
    grid-row: 1/span 1;
    border-top: #FF8312 0.5vw solid;
    border-radius: 1vw 1vw;
}

.reseaux_footer{
    grid-column: 10/span 3;
    grid-row: 9/span 3;
}

.reseaux_footer h2{
    margin: 0;
    padding-top: 1vw;
}

#Groupe_reseau{
    width: 18.5vw;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #fcfcfc;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF8312;
}

/* .reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}*/

#button_newsletters:hover, #bouton_main_2:hover{
    color: #222222;
    background-color: #fcfcfc;
    border: #FF8312 0.1vw solid;
}

#button_newsletters:hover{
    color: #222222;
    background-color: #fcfcfc;
}

button:hover {
    background-color: #FF8312;
    color: #fcfcfc;
}

.button_envoyer_newsletter:hover {
    background-color: #FF8312;
    color: #fcfcfc;
}











/* page inscription/connexion */


.separation_inscription_connexion {
    z-index: 1;
}

#inscription_connexion > footer {
    display: grid;
    grid-template-columns: 16.65% repeat(12, 5.55%) 16.65%;
    background-color: rgba(255, 131, 18, 0.7);
    grid-column: 1 / 15;
    grid-row: 10;
    width: 100vw;
}

#inscription_connexion {
    grid-template-rows: repeat(10, 10%);
}

input[type=text], input[type=submit] {
    border-radius: 0 25px;
    border: 1px solid #FF8312;
}

.separation_inscription_connexion {
    margin-left: auto;
    margin-right: auto;
    grid-column: 7/9;
    grid-row: 2/9;
    height: 100%;
}

.connexion_inscription {
    display: grid;
    grid-template-rows: repeat(7, 13.3333%);
    grid-template-columns: repeat(12, 7.4%);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    background-color: rgba(41, 39, 39, 0.59);
    grid-column: 2/14;
    grid-row: 2/9;
}

.connexion {
    display: grid;
    grid-column: 2/6;
    grid-row: 2/7;
}

.connexion > form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(6, 16.6666%);
    grid-gap: 1%;
    grid-column: 1/5;
}

.inscription{
    grid-row: 2;

}

.email_connexion {
    grid-column: 2 / 5;
    grid-row: 1/2;
}

.password {
    grid-column: 2/ 5;
    grid-row: 2/3;
}

#bouton_connexion {
    grid-column: 3/5;
    grid-row: 6;
    height: 50%;
}

#email_connexion {
    height: 50%;
    grid-row: 3;
    grid-column: 2/4;
}

.zone_texte_email_connexion {
    grid-column: 1/2;
    grid-row: 3;
    height: max-content;
}

#password {
    height: 50%;
    grid-row: 4;
    grid-column: 2/4;
}

.zone_texte_password_connexion {
    grid-column: 1/2;
    grid-row: 4;
    height: max-content;

}

.inscription {
    display: grid;
    grid-column: 8/12;
    grid-row: 2/7;
}

.inscription > form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(6, 16.6666%);
    grid-gap: 1%;
}

.inscription > form > input {
    height: 50%;
    grid-column: 2/4;

}

#fname {
    grid-column: 2/4;
    grid-row: 2;
}

#lname {
    grid-column: 2/4;
    grid-row: 3;
}

#email_inscription {
    grid-column: 2/4;
    grid-row: 4;
}

#mot_de_passe {
    grid-column: 2/4;
    grid-row: 5;
}

#bouton_inscription {
    grid-column: 3/5;
    grid-row: 6;
}

.zone_texte_fname_inscription {
    grid-column: 1/2;
    grid-row: 2;
}

.zone_texte_lname_inscription {
    grid-column: 1/2;
    grid-row: 3;
}

.zone_texte_email_inscription {
    grid-column: 1/2;
    grid-row: 4;
}

.zone_texte_password_inscription {
    grid-column: 1/2;
    grid-row: 5;
}

#footer_connexion form>input{
    grid-column: 6/span 1;
    align-self: center;
    margin-bottom: auto;
    margin-top: auto;
}

#footer_connexion form>label{
    grid-column: 7/span 4;
    align-self: center;
    margin-bottom: auto;
    margin-top: auto;
}

.button_retour_accueil {
    grid-column: 2/span 2;
    grid-row: 1/span 1;
    width: 70%;
    height: 30%;
    border-radius: 0 1vw;
    font-size: 1.7rem;
    border: 1px solid #FF8312;
    margin-bottom: auto;
    margin-top: auto;
}