body {
    margin: 0;
    display: grid;
    grid-template-columns:repeat(12, calc(100%/12));
    column-gap: 1%;
    width: 90.15%;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

nav {
    background-color: #FF8312;
    width: max-content;
}

nav {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    grid-column: 1/span 2;
}

.menuclose {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translate3d(-100%, 0, 0);
}

nav > ul > li > a {
    font-size: 1.5rem;
    color: #fcfcfc;
}

nav * {
    color: #fcfcfc;
    list-style: none;
    text-decoration: none;
}

nav > svg {
    padding-top: 20px;
    padding-left: 10px;
}

nav > ul > li > ul {
    margin-top: -10px;
    padding-left: 40px;
}

nav ul {
    padding-left: 0;
    padding-top: 25px;
    margin: 0 37px 0 0;
}

nav li {
    margin-bottom: 10px;
    border-bottom: 2px solid #fcfcfc;
}

nav > ul > li:nth-last-child(1){
    border-bottom: none;
}

nav a {
    padding-left: 10px;
}

nav a:hover {
    border-left: 5px solid #fcfcfc;
}

nav > ul > li > ul > li > a {
    padding-left: 5px;
    margin-right: 20px;
    color: #fcfcfc;
}

.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: '';
    background-color: white;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
}

.nav-toggle-bar::before {
    top: -10px;
}

.nav-toggle-bar::after {

    top: 10px;
}

header {
    display: grid;
    height: 66px;
    background-color: #FF8312;
    grid-column: 1/13;
}

header img {
    height: 45px;
    grid-column: 3/span 2;
    margin-top: 10px;
}

main {
    grid-column: 1/13;
}

main h1 {
    grid-column: 6/span 2;
    font-family: Megrim, sans-serif;
    width: max-content;
}

main h2 {
    font-family: Megrim, sans-serif;

}
main input {
    grid-column: 6/span 2;
    height: 25px;
}

#mentions {
    grid-column: 2/span 10;
}

footer {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns:repeat(12, 8.333%);
    column-gap: 1%;
    width: 100vw;
    margin-top: 30px;
    padding-bottom: 50px;
}

footer > hr {
    border: 5px solid #FF8312;
    border-radius: 5px;
    margin: 0 0 30px;
    grid-column: 2/span 8;
    height: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline #FF8312;
}

#Groupe_reseau {
    grid-column: 3/span 4;
}

#mentions h2 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.mentions_legales {
    grid-column: 4/span 4;
    grid-row: 2;
}

.reseaux {
    grid-column: 4/span 4;
    grid-row: 3;
    justify-items: center;
}

#Groupe_reseau {
    width: 20vw;
}

body {
    background-color: #0B3A46;
    color: #ffffff;
}
